#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        CapsWord {
            bindings = <&caps_word>;
            key-positions = <25 34>;
            layers = <0>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <20 21>;
            layers = <0 1>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <15 14>;
            layers = <0 1>;
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <13 14 15 16 17 26 27 28 29 41 38 39 40 25 37 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 38 39 40 41 36>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <18 19 20 21 22 30 31 32 33 34 46 44 45 46 47 48 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49>;
        };
    };

    macros {
        printscr_area_mem: printscr_mem {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(LS(NUMBER_4)))>;
            label = "PRINTSCR_MEM";
        };

        printscr_area_file: printscr_file {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(NUMBER_4))>;
            label = "PRINTSCR_FILE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";
            bindings = <
&kp GRAVE          &kp N1             &kp N2        &kp N3           &kp N4           &kp N5                                  &kp N6  &kp N7            &kp N8           &kp N9        &kp N0                 &kp MINUS
&kp ESC            &kp Q              &kp W         &kp E            &kp R            &kp T                                   &kp Y   &kp U             &kp I            &kp O         &kp P                  &kp LEFT_BRACKET
&kp TAB            &hml LEFT_SHIFT A  &hml LCTRL S  &hml LEFT_ALT D  &hml LEFT_GUI F  &kp G                                   &kp H   &hmr RIGHT_GUI J  &hmr LEFT_ALT K  &hmr RCTRL L  &hmr RIGHT_SHIFT SEMI  &kp SQT
&kp RIGHT_BRACKET  &kp Z              &kp X         &kp C            &kp V            &kp B   &kp C_MUTE    &kp C_PLAY_PAUSE  &kp N   &kp M             &kp COMMA        &kp DOT       &kp FSLH               &kp BSLH
                                      &none         &none            &kp LEFT_GUI     &mo 1   &kp SPACE     &kp RET           &mo 2   &kp RIGHT_GUI     &none            &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOLUME_UP>,
                <&inc_dec_kp C_NEXT C_PREV>;
        };

        nav_num {
            display-name = "nav";
            bindings = <
&none   &none           &none      &none       &none        &none                            &none    &none                   &none             &none          &none                   &none
&trans  &none           &kp HOME   &kp UP      &kp END      &kp PAGE_UP                      &none    &kp N7                  &kp N8            &kp N9         &kp PLUS                &none
&trans  &kp LEFT_SHIFT  &kp LEFT   &kp DOWN    &kp RIGHT    &kp PAGE_DOWN                    &kp F12  &hmr LEFT_GUI NUMBER_4  &hmr LEFT_ALT N5  &hmr LCTRL N6  &hmr RIGHT_SHIFT MINUS  &none
&to 1   &kp K_UNDO      &kp K_CUT  &kp K_COPY  &kp K_PASTE  &none          &trans    &trans  &none    &kp N1                  &kp N2            &kp N3         &kp EQUAL               &none
                        &none      &none       &to 0        &trans         &trans    &trans  &mo 3    &kp N0                  &kp DOT           &none
            >;

            sensor-bindings = <&inc_dec_kp 0 0>, <&inc_dec_kp RIGHT LEFT>;
        };

        symbols {
            display-name = "sym";
            bindings = <
&none  &none      &none                 &none              &none           &none                              &none             &none              &none      &none                 &none                  &none
&none  &kp EXCL   &kp AT                &kp HASH           &kp DOLLAR      &kp PERCENT                        &kp CARET         &kp AMPS           &kp ASTRK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE
&none  &kp GRAVE  &kp SQT               &kp DOUBLE_QUOTES  &kp SEMICOLON   &none                              &kp COLON         &kp QUESTION       &kp PLUS   &kp MINUS             &none                  &none
&none  &kp TILDE  &kp NON_US_BACKSLASH  &kp SLASH          &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans    &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EQUAL  &kp UNDER             &none                  &none
                  &none                 &none              &none           &mo 3            &trans    &trans  &trans            &none              &none      &none
            >;
        };

        multimedia_fn {
            display-name = "media";
            bindings = <
&none           &none         &none         &none                &none               &none                               &none   &none    &none    &none    &none  &none
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2         &bt BT_SEL 3        &bt BT_SEL 4                        &kp F9  &kp F10  &kp F11  &kp F12  &none  &soft_off
&bt BT_CLR_ALL  &bt BT_PRV    &bt BT_NXT    &printscr_area_file  &printscr_area_mem  &kp C_PLAY_PAUSE                    &kp F5  &kp F6   &kp F7   &kp F8   &none  &out OUT_TOG
&none           &none         &kp C_PREV    &kp C_VOLUME_DOWN    &kp C_VOLUME_UP     &kp C_NEXT        &trans    &trans  &kp F1  &kp F2   &kp F3   &kp F4   &none  &none
                              &none         &none                &none               &trans            &trans    &trans  &trans  &none    &none    &none
            >;

            sensor-bindings = <&inc_dec_kp 0 0>, <&inc_dec_kp RIGHT LEFT>;
        };
    };
};
